In [48]:
from br_nome_gen import pessoa_random

# Accounts and Location

In [2]:
samples = 1000

#Create a list of 1000 random names

pessoas = [pessoa_random().nome for i in range(samples)]

first_name = [pessoa.split()[0] for pessoa in pessoas]
last_name = [pessoa.split()[-1] for pessoa in pessoas]

#Create a list of 1000 dates between 2021-01-01 and 2022-01-01

import random
from datetime import date, timedelta

start_date = date(2021, 1, 1)
end_date = date(2023, 1, 1)

time_between_dates = end_date - start_date
days_between_dates = time_between_dates.days

random_number_of_days = [start_date + timedelta(days=random.randrange(days_between_dates)) for i in range(samples)]

#Create a list of 1000 random emails from the list of names without accents

import unidecode

first_name = [unidecode.unidecode(first_name[i]) for i in range(samples)]
last_name = [unidecode.unidecode(last_name[i]) for i in range(samples)]

emails = [f"{first_name[i].lower()}.{last_name[i].lower()}@gmail.com" for i in range(samples)]

#Create a list of 1000 random phone numbers

import random

phone_numbers = [f"({random.randint(10,99)}) {random.randint(1000,9999)}-{random.randint(1000,9999)}" for i in range(samples)]

#Creat a list of 1000 unique IDs

import uuid

ids_account = [uuid.uuid4() for i in range(samples)]


#Create dataframe

import pandas as pd

accounts = pd.DataFrame({'ACCOUNT_ID' : ids_account, 'CREATED_AT' : random_number_of_days, 'FIRST_NAME': first_name, 'LAST_NAME' : last_name,
 'EMAIL': emails, 'PHONE_NUMBER': phone_numbers})
 
accounts.head()

,ACCOUNT_ID,CREATED_AT,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER
0,2270101a-e693-4d33-b4a2-de30fee0f180,2022-07-20,Moacyr,Angola,moacyr.angola@gmail.com,(91) 8703-4679
1,81909fc9-403a-428b-80a3-2a6dc2634f9f,2022-05-24,Vanessa,Gutierrez,vanessa.gutierrez@gmail.com,(76) 8433-2816
2,94f220b3-ade1-4db3-83b8-6fd2ef77f191,2021-12-23,Aurelio,Paranhos,aurelio.paranhos@gmail.com,(62) 9480-1486
3,8b21ac2e-ddff-4bdd-ab5f-b02d2205abd8,2021-12-03,Rosangela,Trindade,rosangela.trindade@gmail.com,(12) 7615-7468
4,5cecbb17-bd4b-435d-b0f0-2147149c0409,2022-09-06,Domingos,Epusesan,domingos.epusesan@gmail.com,(49) 5220-9916

In [3]:
# ! mkdir data

# accounts.to_csv('data/accounts.csv', index=False)

accounts = pd.read_csv('data/accounts.csv')

In [9]:
#Create a list of 1000 random addresses

# import random
# samples = 10000

# numero_address = [random.randint(1,999) for i in range(samples)]
# street_address = [random.choice(['Avenida', 'Rua', 'Travessa'])+' '+pessoa_random().nome for i in range(samples)]
# state_address = [random.choice(['Sao Paulo']) for i in range(samples)]
# complement = [random.choice(['Casa','Apartamento']) + ' ' + str(random.randint(1,10)) for i in range(samples)]
# cidade_address = [random.choice(['Sao Paulo','Guarulhos','Osasco']) for i in range(samples)]
# cep_address = [random.randint(10000000,99999999) for i in range(samples)]

# #Creat a list of 1000 unique IDs

# import uuid
# ids_location = [uuid.uuid4() for i in range(samples)]

# location = pd.DataFrame({
#     'LOCATION_ID' : ids_location,
#     'STREET_NAME' : street_address,
#     'STREET_NUMBER' : numero_address,
#     'COMPLEMENT' : complement,
#     'POSTAL_CODE' : cep_address,
#     'CITY' : cidade_address,
#     'STATE' : state_address,
#     'COUNTRY' : ['Brasil' for i in range(samples)]
#  })

# location.to_csv('data/location.csv', index=False)
location = pd.read_csv('data/location.csv')

location.head()

,LOCATION_ID,STREET_NAME,STREET_NUMBER,COMPLEMENT,POSTAL_CODE,CITY,STATE,COUNTRY
0,2b7ef8a7-de57-4c60-b737-247b14e85ff4,Rua Jaziel Hilton Buarque de Souza,664,Casa 5,65817115,Osasco,Sao Paulo,Brasil
1,f38e9fe7-7df2-420d-a337-17487efbae6b,Avenida Adônis Bóris de Moreira Terceiro,312,Casa 6,82157609,Osasco,Sao Paulo,Brasil
2,d1cd76bf-a225-49e1-b6dd-72262861c88e,Travessa Lena Wanda Tigilman de Toledo,568,Casa 6,17519442,Guarulhos,Sao Paulo,Brasil
3,96612282-2925-47ce-8916-433f036819db,Rua Ingrid Bavo de Oliva,93,Casa 5,51809384,Sao Paulo,Sao Paulo,Brasil
4,6d0d5441-a143-4dff-9b38-9a936a98da3b,Travessa Fábio Jonathan Casalpene de Souza,896,Casa 3,65965678,Osasco,Sao Paulo,Brasil

In [11]:
location = location.merge(sessions[['SESSION_ID','LOCATION_ID']], on='LOCATION_ID', how='left')
location[['LOCATION_ID','SESSION_ID','STREET_NAME','STREET_NUMBER','COMPLEMENT','POSTAL_CODE','CITY','STATE','COUNTRY']].to_csv('data/location.csv', index=False)
location = pd.read_csv('data/location.csv')
location.head()

,LOCATION_ID,SESSION_ID,STREET_NAME,STREET_NUMBER,COMPLEMENT,POSTAL_CODE,CITY,STATE,COUNTRY
0,2b7ef8a7-de57-4c60-b737-247b14e85ff4,969dbb85-f6d3-46b7-8ed4-00a0fec5dc64,Rua Jaziel Hilton Buarque de Souza,664,Casa 5,65817115,Osasco,Sao Paulo,Brasil
1,f38e9fe7-7df2-420d-a337-17487efbae6b,896096f4-472a-40ea-bca7-5b1b31eb41f6,Avenida Adônis Bóris de Moreira Terceiro,312,Casa 6,82157609,Osasco,Sao Paulo,Brasil
2,d1cd76bf-a225-49e1-b6dd-72262861c88e,bb461349-662c-47b0-bae9-e2944b044ff1,Travessa Lena Wanda Tigilman de Toledo,568,Casa 6,17519442,Guarulhos,Sao Paulo,Brasil
3,96612282-2925-47ce-8916-433f036819db,c4c4439c-89ec-467e-beb8-81735019ceb2,Rua Ingrid Bavo de Oliva,93,Casa 5,51809384,Sao Paulo,Sao Paulo,Brasil
4,6d0d5441-a143-4dff-9b38-9a936a98da3b,77758cd7-3551-4494-9c76-4ef645da3998,Travessa Fábio Jonathan Casalpene de Souza,896,Casa 3,65965678,Osasco,Sao Paulo,Brasil

# Sessions

In [5]:
# samples = 10000

# #Create a list of 1000 ids

# import uuid

# ids_session = [uuid.uuid4() for i in range(samples)]

# #Sample 1000 ids_name from the list of ids_account

# ids_account = accounts['ACCOUNT_ID'].sample(n=samples, replace=True, random_state=10).tolist()

# #Cart id
# ids_cart = [uuid.uuid4() for i in range(samples)]
# random_days = [random.randint(1,360000) for i in range(samples)]
# random_seconds = [random.randint(1,30*60) for i in range(samples)]

# df_aux_days = pd.DataFrame({'ACCOUNT_ID' : ids_account})
# df_aux_days = df_aux_days.merge(accounts[['ACCOUNT_ID','CREATED_AT']], on='ACCOUNT_ID', how='left')
# df_aux_days['CREATED_AT'] = pd.to_datetime(df_aux_days['CREATED_AT'])
# df_aux_days['STARTED_AT'] = df_aux_days['CREATED_AT'] + pd.to_timedelta(random_days, unit='S')
# df_aux_days['ENDED_AT'] = df_aux_days['STARTED_AT'] + pd.to_timedelta(random_seconds, unit='S')
# df_aux_days = df_aux_days.drop(columns=['CREATED_AT'])
# df_aux_days['SESSION_ID'] = ids_session
# df_aux_days['CART_ID'] = ids_cart
# df_aux_days['LOCATION_ID'] = ids_location
# df_aux_days = df_aux_days[['SESSION_ID','LOCATION_ID','CART_ID','ACCOUNT_ID','STARTED_AT','ENDED_AT']]

# df_aux_days.to_csv('data/sessions.csv', index=False)
sessions = pd.read_csv('data/sessions.csv')

In [165]:
sessions

,SESSION_ID,LOCATION_ID,CART_ID,ACCOUNT_ID,STARTED_AT,ENDED_AT
0,969dbb85-f6d3-46b7-8ed4-00a0fec5dc64,2b7ef8a7-de57-4c60-b737-247b14e85ff4,ded17ff3-8786-4cf7-9b75-4331283b116b,e37db48b-3954-4589-9415-d63bf210c808,2022-07-26 21:00:52,2022-07-26 21:00:54
1,896096f4-472a-40ea-bca7-5b1b31eb41f6,f38e9fe7-7df2-420d-a337-17487efbae6b,a3b68add-6456-4dc7-b5ea-20a065145dbd,9524e2c9-d54f-4018-91bc-f5c356cb4e4f,2022-03-31 03:03:10,2022-03-31 03:12:34
2,bb461349-662c-47b0-bae9-e2944b044ff1,d1cd76bf-a225-49e1-b6dd-72262861c88e,1b122a92-8d1b-45ea-aa11-8d5bdffc4d87,23f986b9-77c7-4117-ae01-0a0ca91b8600,2022-10-20 19:02:51,2022-10-20 19:29:48
3,c4c4439c-89ec-467e-beb8-81735019ceb2,96612282-2925-47ce-8916-433f036819db,9095634a-bbcf-48f1-95e0-3194601fa748,548dd030-f90a-4e53-9482-d9c1c6dc72c3,2021-01-12 18:21:04,2021-01-12 18:31:33
4,77758cd7-3551-4494-9c76-4ef645da3998,6d0d5441-a143-4dff-9b38-9a936a98da3b,8792d2e8-af1d-46ce-ab73-718c5ed86b37,9f4a882b-a2cf-4a21-b066-78d6f1b62b80,2021-08-31 03:20:47,2021-08-31 03:29:52
...,...,...,...,...,...,...
9995,3116aef1-b949-4c2b-8ccf-ed24ab429e33,5e7652d2-b7bc-48a5-a617-338c9a45c81b,42b10bf4-d333-46ec-9a2d-1b91f62f245c,933a404c-32e4-48b7-baad-dfacb73e1c52,2021-02-23 02:15:01,2021-02-23 02:40:52
9996,77738349-76a7-4497-9762-ccb3975bfc4b,006d9299-9afe-4a5e-b3d0-419b306a3a9b,e0fadcdf-864a-43dd-a6a7-68e45b4dceee,8f516ffb-9342-4a89-b3c9-5d36feddc4bb,2022-12-16 00:06:58,2022-12-16 00:36:32
9997,260d1fea-38ed-41b2-bf8b-2c1cfd3b5613,7d5cc8c5-0f5b-49ce-a5fd-fc8ca6ba3027,84468c36-97eb-4bf1-bc72-134519517c10,a6b70820-d447-4d21-b6a2-b12d39975b3d,2022-03-30 19:53:33,2022-03-30 20:04:21
9998,81321e5c-b794-40b6-a742-667f8c60b8d1,04f1eb99-bf35-4e9c-98b3-ec253aa72bb0,52ee7e6b-905e-49a5-917c-8a46ac97bb3a,2d34444f-83f1-4637-9dd6-50c36de0340b,2022-02-13 10:21:08,2022-02-13 10:31:25
9999,c454eba4-4d9e-41ac-a764-ea37ed80953f,16dd35c0-e395-447d-b1c1-7124d89a9d01,2f77fc3f-222f-4833-a285-e83fc8bc829a,6c1b3275-a233-43ae-8daa-3bf9afe3eaff,2021-11-09 16:43:35,2021-11-09 17:12:59

In [12]:
sessions = sessions.drop(columns=['LOCATION_ID','CART_ID'])
sessions.to_csv('data/sessions.csv', index=False)
sessions = pd.read_csv('data/sessions.csv')
sessions.head()

,SESSION_ID,ACCOUNT_ID,STARTED_AT,ENDED_AT
0,969dbb85-f6d3-46b7-8ed4-00a0fec5dc64,e37db48b-3954-4589-9415-d63bf210c808,2022-07-26 21:00:52,2022-07-26 21:00:54
1,896096f4-472a-40ea-bca7-5b1b31eb41f6,9524e2c9-d54f-4018-91bc-f5c356cb4e4f,2022-03-31 03:03:10,2022-03-31 03:12:34
2,bb461349-662c-47b0-bae9-e2944b044ff1,23f986b9-77c7-4117-ae01-0a0ca91b8600,2022-10-20 19:02:51,2022-10-20 19:29:48
3,c4c4439c-89ec-467e-beb8-81735019ceb2,548dd030-f90a-4e53-9482-d9c1c6dc72c3,2021-01-12 18:21:04,2021-01-12 18:31:33
4,77758cd7-3551-4494-9c76-4ef645da3998,9f4a882b-a2cf-4a21-b066-78d6f1b62b80,2021-08-31 03:20:47,2021-08-31 03:29:52

# Merchants

In [166]:
sample = 5000

ids_merchant = [uuid.uuid4() for i in range(sample)]
merchant_names = [random.choice(['Pizzaria','Hamburgeria','Marmita','Japones','Italiano']) + ' ' + pessoa_random().nome.split(' ')[0] for i in range(sample)]
merchant_cosine = [i.split(' ')[0] for i in merchant_names]

df_merchant = pd.DataFrame({'MERCHANT_ID' : ids_merchant, 'MERCHANT_NAME' : merchant_names, 'COUSINE_TYPE' : merchant_cosine})

df_merchant.to_csv('data/merchant.csv', index=False)
df_merchant = pd.read_csv('data/merchant.csv')

In [167]:
df_merchant

                               MERCHANT_ID          MERCHANT_NAME COUSINE_TYPE
0     ea70dc88-a5e2-4eaf-9c81-6a8a5268d4c2       Pizzaria Suzanne     Pizzaria
1     9bef8309-9b31-4179-abce-e51d7a130e65        Italiano Cícero     Italiano
2     fbd4ff7c-cb3c-4e0b-a443-5bc8742e4c0a           Italiano Ali     Italiano
3     fa12beba-5a07-4536-bdae-b15c1a5eb62a  Hamburgeria Sebastião  Hamburgeria
4     848b53d0-7546-4e0e-8893-86afb98b67a5         Japones Martin      Japones
...                                    ...                    ...          ...
4995  7e4b3539-c766-4f7d-90d4-b573345f41c3    Hamburgeria Barnabé  Hamburgeria
4996  503c7b4c-897c-471b-a1f6-f114573d41ba    Hamburgeria Jandira  Hamburgeria
4997  37b39120-7dd0-4f4f-bbe1-52ee99a1b66b       Italiano Fabíola     Italiano
4998  3a04332b-c306-4b4c-a54f-635fb26ef486        Japones Everton      Japones
4999  bf9185cd-a471-4569-9dfa-76c2128db127           Marmita Gigi      Marmita

[5000 rows x 3 columns]

# Catalog Item

In [62]:
# samples = 50000
# ids_items = [uuid.uuid4() for i in range(samples)]
# items_names =  ['FOOD1','FOOD2','FOOD3','FOOD4','FOOD5','BEVERAGE1','BEVERAGE2','BEVERAGE3','BEVERAGE4','BEVERAGE5','DESSERT1','DESSERT2','DESSERT3','DESSERT4','DESSERT5']

# df_items = pd.DataFrame({'ITEM_ID' : ids_items, 
# 'ITEM_NAME' : [random.choice(items_names) for i in range(samples)],
# 'MERCHANT_ID' : [random.choice(list(df_merchant['MERCHANT_ID'])) for i in range(samples)],
# 'ITEM_PRICE' : [random.randint(1000,5000)/100 for i in range(samples)]})

# df_items.to_csv('data/items.csv', index=False)
df_items = pd.read_csv('/Volumes/GoogleDrive-111412415693520822894/Meu Drive/Backup/NOVA IMS/Storing and retrieving data/HOMERWORKERD/data/items.csv')

In [63]:
df_items

,ITEM_ID,ITEM_NAME,MERCHANT_ID,ITEM_PRICE
0,9563e120-9206-4dff-908e-797eb628eea0,BEVERAGE2,fc0249c1-8096-4bf7-84ec-37f649ce963e,27.63
1,aca0690b-eca2-4e66-904e-703f0e77ec88,FOOD2,a5a677b0-2780-4524-bed0-655cb0dfe0c3,18.38
2,ec1c4a69-884a-49c1-9f54-145ef57371b9,FOOD5,b7eb5e33-2f6f-49ab-8c8e-17f401ad4787,16.10
3,684cba38-bd47-46bc-a8ec-1ded6b254c43,BEVERAGE2,960eb810-771b-43dc-9bed-fa21a4340a6a,33.66
4,a3ccad50-5fb2-44f2-a0a5-63e5459f700b,DESSERT1,74428c9e-dc4d-4b80-a971-686ef94bf447,47.21
...,...,...,...,...
49995,d8ca5526-8b86-4e33-a1a9-fc80a42f33f9,BEVERAGE2,0c9cede4-7379-4533-8050-66b29481bfba,44.73
49996,372eeaf5-b9cd-4ae0-a8eb-24d156fd6934,FOOD3,db631ba2-b8ec-4a29-a5ca-6a25c8838a79,47.56
49997,369be65a-e3bb-4517-a928-15ba8641329a,FOOD4,128f8b71-81d0-4c84-81dc-de961feaf70c,38.30
49998,f0a13ba1-4227-4d91-810e-774e35ad27ca,BEVERAGE2,c59e538e-f92e-46ee-a8c0-f644eca7925b,38.63
49999,8638d3b7-0aaf-4894-b300-e18621974185,FOOD1,a42e4114-2bb6-43ac-a197-9e6eadf9e02c,36.34

In [171]:
df_merchant[df_merchant['MERCHANT_ID'] == "fc0249c1-8096-4bf7-84ec-37f649ce963e"]

                              MERCHANT_ID       MERCHANT_NAME COUSINE_TYPE
294  fc0249c1-8096-4bf7-84ec-37f649ce963e  Hamburgeria Márcia  Hamburgeria

# Cart items

In [57]:
# sample = sessions['CART_ID'].nunique()



# df_aux = pd.DataFrame({'CART_ID' : list(sessions['CART_ID'].unique()),
# 'MERCHANT_ID' : [random.choice(list(df_merchant['MERCHANT_ID'])) for i in range(sample)]})

# df_carts_items = df_aux.merge(df_items, on='MERCHANT_ID', how='left')

# df_carts_items['number_of_items_same_merchant'] = df_carts_items.groupby(['CART_ID','MERCHANT_ID'])['ITEM_ID'].transform('count')

# df_carts_items['random_filter'] = df_carts_items.apply(lambda x: random.randint(0,1) if x['number_of_items_same_merchant'] > 1 else 1, axis=1)

# df_carts_items = df_carts_items[df_carts_items['random_filter'] == 1]

# df_carts_items = df_carts_items.drop(columns=['random_filter','number_of_items_same_merchant'])

# df_carts_items['QUANTITY'] = [random.randint(1,5) for i in range(len(df_carts_items))]

# df_carts_items[['CART_ID','ITEM_ID','QUANTITY']].to_csv('data/carts_items.csv', index=False)

df_carts_items = pd.read_csv('/Volumes/GoogleDrive-111412415693520822894/Meu Drive/Backup/NOVA IMS/Storing and retrieving data/HOMERWORKERD/data/carts_items.csv')

In [58]:
df_carts_items

,CART_ID,ITEM_ID,QUANTITY
0,ded17ff3-8786-4cf7-9b75-4331283b116b,e0703523-a093-4288-a97b-734dbf16c5df,5
1,ded17ff3-8786-4cf7-9b75-4331283b116b,97c8a158-1824-4e67-a011-a17e31bc01ce,2
2,ded17ff3-8786-4cf7-9b75-4331283b116b,698d5296-696c-4890-bec0-7b9762c7d776,2
3,ded17ff3-8786-4cf7-9b75-4331283b116b,fce2edfc-f7fb-4d68-aa27-c68ad95cc888,3
4,ded17ff3-8786-4cf7-9b75-4331283b116b,39bd8383-7e47-4ba6-86e1-6c4f7230d588,5
...,...,...,...
50094,52ee7e6b-905e-49a5-917c-8a46ac97bb3a,975af44e-d12c-41be-8673-dd5816d6a4a0,2
50095,52ee7e6b-905e-49a5-917c-8a46ac97bb3a,0994c5fb-aa02-48ef-ba32-b4148b1c4df9,2
50096,2f77fc3f-222f-4833-a285-e83fc8bc829a,c584a4e3-9d76-4182-ac67-02eb68780a41,1
50097,2f77fc3f-222f-4833-a285-e83fc8bc829a,d29d4a32-6a58-44cb-9c09-78c840da7579,4
50098,2f77fc3f-222f-4833-a285-e83fc8bc829a,6dbc5d58-274e-49f2-a41c-6ba4b05806a1,4

In [173]:
df_carts_items['CART_ID'].nunique()

9938

In [174]:
sessions = sessions[sessions['CART_ID'].isin(df_carts_items['CART_ID'])]
sessions.to_csv('data/sessions.csv', index=False)
sessions = pd.read_csv('data/sessions.csv')

In [175]:
sessions['CART_ID'].nunique()

9938

In [191]:
df_carts_items

,CART_ID,ITEM_ID,QUANTITY
0,ded17ff3-8786-4cf7-9b75-4331283b116b,e0703523-a093-4288-a97b-734dbf16c5df,5
1,ded17ff3-8786-4cf7-9b75-4331283b116b,97c8a158-1824-4e67-a011-a17e31bc01ce,2
2,ded17ff3-8786-4cf7-9b75-4331283b116b,698d5296-696c-4890-bec0-7b9762c7d776,2
3,ded17ff3-8786-4cf7-9b75-4331283b116b,fce2edfc-f7fb-4d68-aa27-c68ad95cc888,3
4,ded17ff3-8786-4cf7-9b75-4331283b116b,39bd8383-7e47-4ba6-86e1-6c4f7230d588,5
...,...,...,...
50094,52ee7e6b-905e-49a5-917c-8a46ac97bb3a,975af44e-d12c-41be-8673-dd5816d6a4a0,2
50095,52ee7e6b-905e-49a5-917c-8a46ac97bb3a,0994c5fb-aa02-48ef-ba32-b4148b1c4df9,2
50096,2f77fc3f-222f-4833-a285-e83fc8bc829a,c584a4e3-9d76-4182-ac67-02eb68780a41,1
50097,2f77fc3f-222f-4833-a285-e83fc8bc829a,d29d4a32-6a58-44cb-9c09-78c840da7579,4
50098,2f77fc3f-222f-4833-a285-e83fc8bc829a,6dbc5d58-274e-49f2-a41c-6ba4b05806a1,4

# Carts

In [176]:
# df_carts = df_carts_items.merge(df_items[['ITEM_ID','ITEM_PRICE']], on='ITEM_ID', how='left')
# df_carts['TOTAL_AMOUNT_SPEND'] = df_carts['QUANTITY'] * df_carts['ITEM_PRICE']
# df_carts = df_carts.groupby(['CART_ID'])['TOTAL_AMOUNT_SPEND'].sum().reset_index()

# # create a column 'closed_cart' with 1 if the cart was closed and 0 if not, with a probability of 0.4
# df_carts['CLOSED_CART'] = [random.randint(0,1) for i in range(len(df_carts))]

# # create a column 'has_order' with 1 or 0, with a probability of 0.9, if the column 'closed_cart' is 1

# df_carts['HAS_ORDER'] = df_carts.apply(lambda x: (1 if random.random() > 0.1 else 0) if x['CLOSED_CART'] == 1 else 0, axis=1)

In [60]:
#df_carts.to_csv('data/carts.csv', index=False)
df_carts = pd.read_csv('/Volumes/GoogleDrive-111412415693520822894/Meu Drive/Backup/NOVA IMS/Storing and retrieving data/HOMERWORKERD/data/carts.csv')

df_carts

,CART_ID,CLOSED_CART,HAS_ORDER,SESSION_ID
0,0002f0d6-735e-40d6-a2df-0191d284860e,0,0,969dbb85-f6d3-46b7-8ed4-00a0fec5dc64
1,000705de-483a-4075-901c-1de8e870fcfd,1,1,896096f4-472a-40ea-bca7-5b1b31eb41f6
2,000bfbb1-749c-4ef9-834b-b1ae8d9732a6,0,0,bb461349-662c-47b0-bae9-e2944b044ff1
3,00124ecd-4712-4f18-b6c9-528903a4bbad,1,1,c4c4439c-89ec-467e-beb8-81735019ceb2
4,002bf3eb-6b10-4c9a-b358-02f61cd58525,0,0,77758cd7-3551-4494-9c76-4ef645da3998
...,...,...,...,...
9933,ffcbc3dd-018c-4a74-a731-6c7d0f0e8d29,1,1,3116aef1-b949-4c2b-8ccf-ed24ab429e33
9934,ffcf8e39-cd73-4290-be9f-fcbb252621d9,0,0,77738349-76a7-4497-9762-ccb3975bfc4b
9935,ffd59a6e-8364-4e25-8933-8a4e4fd20922,0,0,260d1fea-38ed-41b2-bf8b-2c1cfd3b5613
9936,fff25aa7-f7b1-4fa2-a58a-ad027e3e6756,1,1,81321e5c-b794-40b6-a742-667f8c60b8d1
9937,fffae688-d32c-4b4d-a5c4-499262d706dc,0,0,c454eba4-4d9e-41ac-a764-ea37ed80953f

In [17]:
df_carts['SESSION_ID'] = sessions['SESSION_ID']
df_carts.to_csv('data/carts.csv', index=False)
df_carts = pd.read_csv('data/carts.csv')

In [21]:
df_carts

,CART_ID,TOTAL_AMOUNT_SPEND,CLOSED_CART,HAS_ORDER,SESSION_ID
0,0002f0d6-735e-40d6-a2df-0191d284860e,364.45,0,0,969dbb85-f6d3-46b7-8ed4-00a0fec5dc64
1,000705de-483a-4075-901c-1de8e870fcfd,334.66,1,1,896096f4-472a-40ea-bca7-5b1b31eb41f6
2,000bfbb1-749c-4ef9-834b-b1ae8d9732a6,171.89,0,0,bb461349-662c-47b0-bae9-e2944b044ff1
3,00124ecd-4712-4f18-b6c9-528903a4bbad,225.23,1,1,c4c4439c-89ec-467e-beb8-81735019ceb2
4,002bf3eb-6b10-4c9a-b358-02f61cd58525,259.70,0,0,77758cd7-3551-4494-9c76-4ef645da3998
...,...,...,...,...,...
9933,ffcbc3dd-018c-4a74-a731-6c7d0f0e8d29,261.81,1,1,3116aef1-b949-4c2b-8ccf-ed24ab429e33
9934,ffcf8e39-cd73-4290-be9f-fcbb252621d9,405.42,0,0,77738349-76a7-4497-9762-ccb3975bfc4b
9935,ffd59a6e-8364-4e25-8933-8a4e4fd20922,167.28,0,0,260d1fea-38ed-41b2-bf8b-2c1cfd3b5613
9936,fff25aa7-f7b1-4fa2-a58a-ad027e3e6756,646.54,1,1,81321e5c-b794-40b6-a742-667f8c60b8d1
9937,fffae688-d32c-4b4d-a5c4-499262d706dc,131.89,0,0,c454eba4-4d9e-41ac-a764-ea37ed80953f

In [65]:
df_carts_ = df_carts_items.merge(df_items[['ITEM_ID','ITEM_PRICE']], on='ITEM_ID', how='left')
df_carts_['TOTAL_AMOUNT_SPEND'] = df_carts_['QUANTITY'] * df_carts_['ITEM_PRICE']
df_carts_ = df_carts_.groupby(['CART_ID'])['TOTAL_AMOUNT_SPEND'].sum().reset_index()
df_carts_ = df_carts_.merge(df_carts[['CART_ID','HAS_ORDER','CLOSED_CART']], on='CART_ID', how='left')
df_carts_.head()

,CART_ID,TOTAL_AMOUNT_SPEND,HAS_ORDER,CLOSED_CART
0,0002f0d6-735e-40d6-a2df-0191d284860e,364.45,0,0
1,000705de-483a-4075-901c-1de8e870fcfd,334.66,1,1
2,000bfbb1-749c-4ef9-834b-b1ae8d9732a6,171.89,0,0
3,00124ecd-4712-4f18-b6c9-528903a4bbad,225.23,1,1
4,002bf3eb-6b10-4c9a-b358-02f61cd58525,259.70,0,0

In [67]:
df_carts.shape,df_carts_.shape

((9938, 4), (9938, 4))

In [72]:
df_carts_.to_csv('/Volumes/GoogleDrive-111412415693520822894/Meu Drive/Backup/NOVA IMS/Storing and retrieving data/HOMERWORKERD/data/carts_2.csv', index=False)

# Payments

In [178]:
# # populate a table with credit card information fo each account in accounts table

# df_payments = pd.read_csv('data/accounts.csv')

# df_payments['CARD_NUMBER'] = [random.randint(1000000000000000,9999999999999999) for i in range(len(df_payments))]
# df_payments['EXPIRATION_DATE'] = [random.randint(1,12) for i in range(len(df_payments))]
# df_payments['CVV'] = [random.randint(100,999) for i in range(len(df_payments))]
# df_payments['EXPIRATION_DATE'] = df_payments['EXPIRATION_DATE'].apply(lambda x: str(x) + '/2025')

# df_payments = df_payments[['ACCOUNT_ID','CARD_NUMBER','EXPIRATION_DATE','CVV']]

# df_payments = df_payments.merge(sessions[['ACCOUNT_ID','CART_ID']], on='ACCOUNT_ID', how='left')

# df_payments = df_payments.merge(df_carts[['CART_ID','HAS_ORDER']], on='CART_ID', how='left')
# df_payments = df_payments.rename(columns={'HAS_ORDER':'APPROVED_PAYMENT'})

In [179]:
df_payments

,ACCOUNT_ID,CARD_NUMBER,EXPIRATION_DATE,CVV,CART_ID,APPROVED_PAYMENT
0,fa49920c-aa5f-4e4a-8023-f7acaf95144c,2838887589084608,4/2025,864,54ab8c29-a1f5-4914-9cf4-7a80f9a654a9,0
1,fa49920c-aa5f-4e4a-8023-f7acaf95144c,2838887589084608,4/2025,864,68e6018a-0b92-4823-8946-e7ffd2962699,0
2,fa49920c-aa5f-4e4a-8023-f7acaf95144c,2838887589084608,4/2025,864,f9d60ef5-cc87-4a70-8f68-03513e68e73f,0
3,fa49920c-aa5f-4e4a-8023-f7acaf95144c,2838887589084608,4/2025,864,0f731eb4-c61b-45c4-8672-7c278494be0a,0
4,fa49920c-aa5f-4e4a-8023-f7acaf95144c,2838887589084608,4/2025,864,31ea448b-b90f-47fe-888a-bf2f57d9eecb,0
...,...,...,...,...,...,...
9933,35c9ccac-3e71-45b0-8b1e-afb8c2fa2ab4,3054684258573417,7/2025,534,b7ef37e9-98a3-4faf-a619-7873b3559d93,1
9934,35c9ccac-3e71-45b0-8b1e-afb8c2fa2ab4,3054684258573417,7/2025,534,ee23702b-dbd1-4a39-834b-0dc53a616659,0
9935,35c9ccac-3e71-45b0-8b1e-afb8c2fa2ab4,3054684258573417,7/2025,534,a1f1561a-185e-4aeb-9705-180775f7df30,0
9936,35c9ccac-3e71-45b0-8b1e-afb8c2fa2ab4,3054684258573417,7/2025,534,ccf63ea7-0954-4efc-a49f-56ef1374a82a,0
9937,35c9ccac-3e71-45b0-8b1e-afb8c2fa2ab4,3054684258573417,7/2025,534,a44fb432-ef1c-4747-a854-d20c0a0cd471,0

In [180]:
# df_payments.to_csv('data/payments.csv', index=False)
# df_payments = pd.read_csv('data/payments.csv')

In [24]:
# df_payments['PAYMENT_ID'] = [str(uuid.uuid4()) for i in range(len(df_payments))]
# df_payments['PAYMENT_TYPE'] = [random.choice(['CREDIT_CARD','DEBIT_CARD','VOUCHER']) for i in range(len(df_payments))]
# df_payments = df_payments[['PAYMENT_ID','CART_ID','PAYMENT_TYPE','CARD_NUMBER','EXPIRATION_DATE','CVV','APPROVED_PAYMENT']].to_csv('data/payments.csv', index=False)
df_payments = pd.read_csv('data/payments.csv')
df_payments

,PAYMENT_ID,CART_ID,PAYMENT_TYPE,CARD_NUMBER,EXPIRATION_DATE,CVV,APPROVED_PAYMENT
0,bc7d5113-d66e-41db-b8b1-08300d0d06eb,54ab8c29-a1f5-4914-9cf4-7a80f9a654a9,CREDIT_CARD,2838887589084608,4/2025,864,0
1,e0027cd1-c6a0-4aa2-951e-5e325774213c,68e6018a-0b92-4823-8946-e7ffd2962699,DEBIT_CARD,2838887589084608,4/2025,864,0
2,6baca689-4814-4b83-93f1-5a9f3d0bcb0f,f9d60ef5-cc87-4a70-8f68-03513e68e73f,VOUCHER,2838887589084608,4/2025,864,0
3,751e73b4-d7d3-4910-b6e6-7ffe41d65f8b,0f731eb4-c61b-45c4-8672-7c278494be0a,DEBIT_CARD,2838887589084608,4/2025,864,0
4,91167de1-2f53-4d57-bb00-181a095999a5,31ea448b-b90f-47fe-888a-bf2f57d9eecb,DEBIT_CARD,2838887589084608,4/2025,864,0
...,...,...,...,...,...,...,...
9933,c9fc3197-af30-4929-b708-6f6bd876ba64,b7ef37e9-98a3-4faf-a619-7873b3559d93,VOUCHER,3054684258573417,7/2025,534,1
9934,80d96209-a526-4efd-bd35-e3d58c39ff4e,ee23702b-dbd1-4a39-834b-0dc53a616659,CREDIT_CARD,3054684258573417,7/2025,534,0
9935,b4ba8203-06f7-4cb8-9222-19f6dbbb76d0,a1f1561a-185e-4aeb-9705-180775f7df30,CREDIT_CARD,3054684258573417,7/2025,534,0
9936,38f2a63c-d167-44a5-82d1-b324a4900c82,ccf63ea7-0954-4efc-a49f-56ef1374a82a,CREDIT_CARD,3054684258573417,7/2025,534,0
9937,45f9f1ff-6253-40d4-84c2-de161d9dc1c1,a44fb432-ef1c-4747-a854-d20c0a0cd471,DEBIT_CARD,3054684258573417,7/2025,534,0

# ORDERS

In [22]:
# df_orders = df_carts[df_carts['HAS_ORDER'] == 1].copy()

# df_orders['ORDER_ID'] = [str(uuid.uuid4()) for i in range(len(df_orders))]
# df_orders = df_orders[['ORDER_ID','CART_ID']].merge(sessions[['CART_ID','ENDED_AT']], on='CART_ID', how='left')

# df_orders = df_orders.rename(columns={'ENDED_AT':'DATE_ORDER'})

# df_orders.to_csv('data/orders.csv', index=False)
df_orders = pd.read_csv('data/orders.csv')

In [23]:
df_orders

,ORDER_ID,CART_ID,DATE_ORDER
0,e616d4ba-b5d5-4756-a8b0-7d3531c1c82b,000705de-483a-4075-901c-1de8e870fcfd,2022-09-29 17:44:21
1,cd5a2188-b7e0-49ae-9a8d-e1ad4cfbdd9d,00124ecd-4712-4f18-b6c9-528903a4bbad,2021-05-28 03:50:19
2,ad33e7be-82a8-4e6f-9dab-756d11a51887,00593320-4e20-4eb5-8741-5c33a72df2e1,2021-10-14 06:29:27
3,72f79592-7d1a-4b90-adb7-6a91440c6fe9,007cc964-e99e-4085-a637-b03eb1d20163,2022-08-13 01:15:55
4,e9112f6b-2db9-4739-b454-d3446fd3af51,00a87854-5bcb-455d-94d8-6530e494e375,2022-07-27 07:44:52
...,...,...,...
4431,81d553a7-7a41-4767-a3db-0bdb122f664f,ffab727f-d829-48ed-858a-41c9b118bbba,2021-01-05 08:32:12
4432,340856ae-da0d-48c6-8424-9e02ac799a80,ffb7bddb-5700-413b-95e3-db045be15c51,2021-04-21 11:10:44
4433,b1c0fc24-36f7-4c73-ab06-4a6dfb145d22,ffc0106b-9995-4109-8b14-5d998fb6ef0a,2021-08-18 12:09:26
4434,695e6833-d3e2-441a-ba0d-cfc918665e68,ffcbc3dd-018c-4a74-a731-6c7d0f0e8d29,2022-08-29 16:52:41
4435,b8a7929b-5ffa-4907-8f05-c7482c192145,fff25aa7-f7b1-4fa2-a58a-ad027e3e6756,2022-01-07 15:02:24

In [25]:
# df_orders = df_orders.merge(df_carts[['CART_ID','TOTAL_AMOUNT_SPEND']], on='CART_ID', how='left')
# df_orders = df_orders.merge(df_payments[['PAYMENT_ID','CART_ID']], on='CART_ID', how='left')

In [27]:
df_orders.to_csv('data/orders.csv', index=False)
df_orders = pd.read_csv('data/orders.csv')
df_orders.head()

,ORDER_ID,CART_ID,DATE_ORDER,TOTAL_AMOUNT_SPEND,PAYMENT_ID
0,e616d4ba-b5d5-4756-a8b0-7d3531c1c82b,000705de-483a-4075-901c-1de8e870fcfd,2022-09-29 17:44:21,334.66,1e088554-b47a-4073-a4fd-05c82121e148
1,cd5a2188-b7e0-49ae-9a8d-e1ad4cfbdd9d,00124ecd-4712-4f18-b6c9-528903a4bbad,2021-05-28 03:50:19,225.23,af3af2fe-e96b-4c5d-ab66-f1329534d315
2,ad33e7be-82a8-4e6f-9dab-756d11a51887,00593320-4e20-4eb5-8741-5c33a72df2e1,2021-10-14 06:29:27,597.55,c50efd3d-d191-4276-b771-7537532073d9
3,72f79592-7d1a-4b90-adb7-6a91440c6fe9,007cc964-e99e-4085-a637-b03eb1d20163,2022-08-13 01:15:55,302.27,12af983c-fdfa-4b0a-bf55-d10cacb30cff
4,e9112f6b-2db9-4739-b454-d3446fd3af51,00a87854-5bcb-455d-94d8-6530e494e375,2022-07-27 07:44:52,377.98,94c89504-29a7-46ba-a08a-f9c387a1f38f

In [28]:
df_carts.drop(columns=['TOTAL_AMOUNT_SPEND'], inplace=True)

In [29]:
df_carts.to_csv('data/carts.csv', index=False)
df_carts = pd.read_csv('data/carts.csv')
df_carts.head()

,CART_ID,CLOSED_CART,HAS_ORDER,SESSION_ID
0,0002f0d6-735e-40d6-a2df-0191d284860e,0,0,969dbb85-f6d3-46b7-8ed4-00a0fec5dc64
1,000705de-483a-4075-901c-1de8e870fcfd,1,1,896096f4-472a-40ea-bca7-5b1b31eb41f6
2,000bfbb1-749c-4ef9-834b-b1ae8d9732a6,0,0,bb461349-662c-47b0-bae9-e2944b044ff1
3,00124ecd-4712-4f18-b6c9-528903a4bbad,1,1,c4c4439c-89ec-467e-beb8-81735019ceb2
4,002bf3eb-6b10-4c9a-b358-02f61cd58525,0,0,77758cd7-3551-4494-9c76-4ef645da3998

# Ratings

In [30]:
# df_ratings = df_orders.copy()

# df_ratings['RATING'] = [random.randint(1,5) for i in range(len(df_ratings))]
# df_ratings['RATING_ID'] = [str(uuid.uuid4()) for i in range(len(df_ratings))]

# df_ratings = df_ratings[['RATING_ID','ORDER_ID','RATING']]
# df_ratings.to_csv('data/ratings.csv', index=False)
df_ratings = pd.read_csv('data/ratings.csv')

In [190]:
df_ratings

,RATING_ID,ORDER_ID,RATING
0,78e9e7f2-1b65-4887-98cf-0881e306002c,e616d4ba-b5d5-4756-a8b0-7d3531c1c82b,5
1,bade6829-0604-4d02-80a0-c9bfbdb00a3f,cd5a2188-b7e0-49ae-9a8d-e1ad4cfbdd9d,3
2,577b7368-336b-4cc4-ba32-0e2666725617,ad33e7be-82a8-4e6f-9dab-756d11a51887,2
3,43711d64-d177-4596-9663-801f1a1adcb8,72f79592-7d1a-4b90-adb7-6a91440c6fe9,5
4,8a0d7150-b67c-4f8f-be90-e7f998eea527,e9112f6b-2db9-4739-b454-d3446fd3af51,2
...,...,...,...
4431,d97f5958-4334-411b-8696-a034b8d57584,81d553a7-7a41-4767-a3db-0bdb122f664f,1
4432,89ffdd62-539b-4bd4-8d4a-4487ee139558,340856ae-da0d-48c6-8424-9e02ac799a80,5
4433,b8a0bb63-67ad-4b7f-90dc-6383edc278f7,b1c0fc24-36f7-4c73-ab06-4a6dfb145d22,4
4434,33ac89ac-ec39-446d-8b8c-75bad69e3ecf,695e6833-d3e2-441a-ba0d-cfc918665e68,1
4435,e0787dcd-d5f3-49ad-a7eb-a5a4e89a478a,b8a7929b-5ffa-4907-8f05-c7482c192145,3

In [33]:

accounts = pd.read_csv('data/accounts.csv')
accounts.columns

Index(['ACCOUNT_ID', 'CREATED_AT', 'FIRST_NAME', 'LAST_NAME', 'EMAIL',
       'PHONE_NUMBER'],
      dtype='object')

In [47]:
carts_items = pd.read_csv('data/carts_items.csv')
carts_items.columns

FileNotFoundError: [Errno 2] No such file or directory: 'data/carts_items.csv'

In [35]:
carts = pd.read_csv('data/carts.csv')
carts.columns

Index(['CART_ID', 'CLOSED_CART', 'HAS_ORDER', 'SESSION_ID'], dtype='object')

In [36]:
items = pd.read_csv('data/items.csv')
items.columns

Index(['ITEM_ID', 'ITEM_NAME', 'MERCHANT_ID', 'ITEM_PRICE'], dtype='object')

In [37]:
location = pd.read_csv('data/location.csv')
location.columns

Index(['LOCATION_ID', 'SESSION_ID', 'STREET_NAME', 'STREET_NUMBER',
       'COMPLEMENT', 'POSTAL_CODE', 'CITY', 'STATE', 'COUNTRY'],
      dtype='object')

In [38]:
merchant = pd.read_csv('data/merchant.csv')
merchant.columns

Index(['MERCHANT_ID', 'MERCHANT_NAME', 'COUSINE_TYPE'], dtype='object')

In [39]:
orders = pd.read_csv('data/orders.csv')
orders.columns

Index(['ORDER_ID', 'CART_ID', 'DATE_ORDER', 'TOTAL_AMOUNT_SPEND',
       'PAYMENT_ID'],
      dtype='object')

In [40]:
payments = pd.read_csv('data/payments.csv')
payments.columns

Index(['PAYMENT_ID', 'CART_ID', 'PAYMENT_TYPE', 'CARD_NUMBER',
       'EXPIRATION_DATE', 'CVV', 'APPROVED_PAYMENT'],
      dtype='object')

In [41]:
ratings = pd.read_csv('data/ratings.csv')
ratings.columns

Index(['RATING_ID', 'ORDER_ID', 'RATING'], dtype='object')

In [56]:
sessions = pd.read_csv('/Volumes/GoogleDrive-111412415693520822894/Meu Drive/Backup/NOVA IMS/Storing and retrieving data/HOMERWORKERD/data/carts_items.csv')
sessions.columns

Index(['CART_ID', 'ITEM_ID', 'QUANTITY'], dtype='object')